*{
	font-family: Arial;
	font-size: 25px;
}
.avatarPic{
	border-radius: 50%;
}
.avatar{
	text-align: center;
}

/*Desktop*/
@media only screen and (min-width: 750px){
	body{
		width: 100%;
		text-align: center;
		margin: auto;
	}
	
}